absl-py==0.12.0
altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
atomicwrites==1.4.0
attrs==20.3.0
auto-py-to-exe==2.9.0
autobahn==20.7.1
Automat==20.2.0
beautifulsoup4==4.9.3
bokeh==2.3.2
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.4
channels==3.0.2
channels-redis==3.2.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cloudscraper==1.2.58
colorama==0.4.4
configparser==5.0.2
constantly==15.1.0
crayons==0.4.0
cryptography==3.2.1
daphne==3.0.1
dask==2021.5.1
dask-sql==0.3.6
decorator==4.4.2
distlib==0.3.1
distributed==2021.5.1
Django==2.0.1
django-channels==0.7.0
django-crispy-forms==1.7.0
django-multiselectfield==0.1.12
django-resized==0.3.11
django-task-manager==0.1
docker==4.4.0
Eel==0.12.4
fastapi==0.65.1
filelock==3.0.12
fsspec==2021.5.0
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
h11==0.11.0
HeapDict==1.0.1
huepy==1.2.1
hyperlink==20.0.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
incremental==17.5.0
iniconfig==1.1.1
instabot==0.117.0
instaloader==4.7.1
Jinja2==3.0.0
JPype1==1.2.1
listener==2.0.0a1
locket==0.2.1
lxml==4.6.3
MarkupSafe==2.0.0
mediapipe==0.8.4.2
mock==4.0.3
modules==1.0.0
MouseInfo==0.1.3
moviepy==1.0.3
msgpack==1.0.2
nest-asyncio==1.5.1
numpy==1.20.3
oauthlib==3.1.0
opencv-contrib-python==4.5.2.52
packaging==20.9
pandas==1.2.4
partd==1.2.0
pefile==2019.4.18
Pillow==8.2.0
playsound==1.2.2
pluggy==0.13.1
proglog==0.1.9
prompt-toolkit==3.0.18
protobuf==3.17.0
psutil==5.8.0
psycopg2==2.8.6
py==1.10.0
pyaes==1.6.1
pyarmor==6.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
pydantic==1.8.2
PyGetWindow==0.0.9
Pygments==2.9.0
PyHamcrest==2.0.2
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.9
PyMySQL==1.0.2
pynput==1.7.3
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyRect==0.1.4
PyScreeze==0.1.27
PySocks==1.7.1
pytest==6.2.4
python-dateutil==2.8.1
python-dotenv==0.17.1
pytransformer==1.0
PyTweening==1.0.3
pytz==2017.3
pywin32-ctypes==0.2.0
PyYAML==5.4.1
QtPy==1.9.0
redis==3.5.3
requests==2.25.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.13.3
rsa==4.7.2
schedule==1.1.0
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SQLAlchemy==1.4.17
sqlparse==0.4.1
starlette==0.14.2
tblib==1.7.0
Telethon==1.21.1
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
txaio==20.4.1
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.2
uvicorn==0.12.3
virtualenv==20.4.2
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
webdriver-manager==3.4.2
websocket-client==0.57.0
whichcraft==0.6.1
zict==2.0.0
zope.event==4.5.0
zope.interface==5.2.0
